{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="post" id="customerForm">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ title }}</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/customers.js') }}"></script>
{% endblock %}
